body
{
    background-color: rgb(246, 200, 144);
    font-size:  40px;
    font-weight: bold;
}
#game-container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#game-layer {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgb(183, 160, 255);
    border: 3px solid black;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: aquamarine;
    border: 3px solid black;
}

.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}

.green{
    background-color: green; 
}