    body {
        background-color: rgb(240, 208, 194);
    }

    .grid-container {
        display: grid;
        grid-template-columns: 33% 33% auto;
        grid-gap: 30px;
    }

    #Step {
        grid-column: 1/ span 3;
    }

    #header01 {
        font-weight: bold;
        background-color: hwb(7 67% 3%);
        font-size: 100px;
        grid-column: 1 / span 3;
    }

    #Ingredients {
        grid-column: 1 / span 3;
        font-weight: bold;
        background-color: rgb(241, 129, 54);
        font-size: 45px;
    }

    #framebaker {
        grid-column: 1 / span 1;
        border: 20px dotted rgb(84, 22, 22);
        background-color: rgb(248, 195, 130);
    }


    #Crescentroll {
        grid-column: 2 / span 1;

    }

    #Step {
        grid-column: 1 / span 3;
        font-weight: bold;
        background-color: rgb(241, 129, 54);
        font-size: 45px;
    }


#frame {
    grid-column: 1/ span 1;
    border: 20px dotted rgb(84, 22, 22);
    background-color: rgb(248, 195, 130);
}

#crescent {
    grid-column: 2 / span 1;
}

#cinnamon {
    grid-column: 1 / span 3;
    border: 2px solid rgb(184, 103, 71);
}

#Refer {
    grid-column: 1 / span 3;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(97, 15, 15);
}


@media only screen and (max-width: 768px) {
    body {
        background-color: rgb(255, 84, 84);
    }

    .grid-container {
        display: grid;
        grid-template-columns: 40% auto;
        grid-gap: 30px;
    }



    #Step {
        grid-column: 1/ span 2;
    }

    #header01 {
        font-weight: bold;
        background-color: hwb(7 67% 3%);
        font-size: 100px;
        grid-column: 1 / span 2;
    }

    #Ingredients {
        grid-column: 1 / span 2;
        font-weight: bold;
        background-color: rgb(241, 129, 54);
        font-size: 45px;
    }

    #framebaker {
        grid-column: 1 / span 1;
        border: 20px dotted rgb(84, 22, 22);
        background-color: rgb(248, 195, 130);
    }


    #Crescentroll {
        grid-column: 2 / span 1;

    }

    #Step {
        grid-column: 1 / span 2;
        font-weight: bold;
        background-color: rgb(241, 129, 54);
        font-size: 45px;
    }
}

#frame {
    grid-column: 1/ span 1;
    border: 20px dotted rgb(84, 22, 22);
    background-color: rgb(248, 195, 130);
}

#crescent {
    grid-column: 2 / span 1;
}

#cinnamon {
    grid-column: 1 / span 2;
    border: 2px solid rgb(184, 103, 71);

}

#Refer {
    grid-column: 1 / span 2;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(97, 15, 15);
}


@media only screen and (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100% auto;
        grid-gap: 30px;
    }

    body {
        background-color: rgb(255, 252, 84);
    }

    #Step {
        grid-column: 1/ span 1;
    }

    #header01 {
        font-weight: bold;
        background-color: hwb(7 67% 3%);
        font-size: 75px;
        grid-column: 1 / span 1;
    }

    #Ingredients {
        grid-column: 1 / span 1;
        font-weight: bold;
        background-color: rgb(241, 129, 54);
        font-size: 45px;
    }

    #framebaker {
        grid-column: 1 / span 1;
        border: 20px dotted rgb(84, 22, 22);
        background-color: rgb(248, 195, 130);
    }


    #Crescentroll {
        grid-column: 1 / span 1;

    }

    #Step {
        grid-column: 1/ span 1;
    }

    #frame {
        grid-column: 1/ span 1;
        border: 20px dotted rgb(84, 22, 22);
        background-color: rgb(248, 195, 130);
    }

    #crescent {
        grid-column: 1 / span 1;
    }

    #cinnamon {
        grid-column: 1 / span 1;
        border: 5px solid rgb(184, 103, 71);
    }

    #Refer {
        grid-column: 1 / span 1;
        font-size: 25px;
         text-align: center; 
        font-weight: bold;
        color: rgb(97, 15, 15);
    }
}